/* variables  de estilo*/
:root {
    --bg-dark: #0f0f1a;
    --bg-card: #1a1a2e;

    --primary: #ff8fab;
    --secondary: #cdb4db;

    --text-white: #f8f9ff;
    --text-dim: #d6d8ea;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: var(--bg-dark);
    color: var(--text-white);
}

/* navbar */
.navbar {
    background: rgba(15, 15, 26, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px 5%;
}

.logo {
    font-weight: 800;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.logo span {
    color: var(--primary);
}

.nav-links a {
    color: var(--text-dim);
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--primary);
}

/* hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bg-dark);
    padding: 0 20px;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.hero h1 span {
    color: var(--primary);
}

.hero p {
    color: var(--text-dim);
    margin-top: 15px;
}

/* botones */
.btn-primary {
    background: var(--primary);
    border: none;
    border-radius: 12px;
    padding: 12px 25px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 143, 171, 0.3);
}

.btn-secondary {
    border-radius: 12px;
    padding: 12px 25px;
}

/* tarjetas  con bootstrap*/
.card {
    border-radius: 15px;
    overflow: hidden;
    border: none;
    background: var(--bg-card);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* Imagen */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Texto */
.card-title {
    font-weight: 600;
}

.card-text {
    color: var(--text-dim);
    font-size: 0.9rem;
}

/* etiquetas */
.badge {
    background: rgba(255, 143, 171, 0.2);
    color: var(--primary);
}

/*  PROGRESS BAR*/
.progress {
    height: 6px;
    background: #e9e1e1;
    border-radius: 10px;
}

.progress-bar {
    background: var(--primary);
}

/* parte de habilidades */
.skills-wrapper {
    background: var(--bg-card);
    padding: 30px;
    border-radius: 20px;
}

.skill-tab {
    background: transparent;
    border: none;
    color: var(--text-dim);
    padding: 10px;
    transition: 0.3s;
}

.skill-tab.active,
.skill-tab:hover {
    color: var(--primary);
}

/* footer */
footer {
    background: #0a0a14;
    padding: 60px 20px;
}

.social-links a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: 0.3s;
}

.social-links a:hover {
    color: var(--primary);
}

/* responsive */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.3rem;
    }
}